#card1-detail{
    background-color:white;
}

#card1,#header-card{
    background-color:#F44336;
}
#card1-detail,#card2-detail,#card3-detail
{
    border-color: coral;
}
#header-card{
    color:white;
}
.grid-body-modal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    justify-content: center;
    grid-auto-rows: minmax(min-content, max-content);
}
.modal-lg{
    min-width: 1200px;
}
.grid-icon-name .form-inline .form-group label{
    display: inline-block;
    vertical-align: text-top;
   min-width:  70px;
   justify-content: center;
}
.grid-one-column{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-items: center;
}
.grid-one-column input{
    justify-self: center;
}

.upload-btn-wrapper {
  cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  
  .upload-btn-wrapper input[type=file] {
    cursor: pointer;
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .UI {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .UI input[type=file] {
    cursor: pointer;
      width: 200px;
      height: 200px;
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .UI.btn{
    /* width: 500px; */
  }
  .UI input[type=text] {
    cursor: pointer;
    /* font-size: 100px; */
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
  #upload-demo{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
  margin-bottom:15px;
}
#upload-demo2{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
  margin-bottom:15px;
}
#add-mount-year{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  grid-auto-rows: minmax(min-content, max-content);
}
#add-mount-year label{
  justify-self: center;
}
#add-mount-year i{
  justify-self: center;
  color: orange;
}
label span{
  color: red;
}
.grid-icon-name{
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  grid-gap: 1rem;
  grid-auto-rows: minmax(min-content, max-content);
}
.grid-icon-name{
  justify-self: center;
}
.grid-icon-name input{
  justify-self: center;
}
.grid-icon-name .upload-btn-wrapper{
  justify-self: center;
}
#addCondition{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  grid-auto-rows: minmax(min-content, max-content);
}
#addCondition .btn{
 justify-self: center;
}
.swal-footer{
  display: flex;
  flex-direction: row-reverse;
}